{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="div-default">
  <div class="float-container">
    <div class="float-child left-side-wide">
      <h1>OptiFarm</h1>
      <div class="home-paragraph">
        Welcome to OptiFarm, your gateway to the world of agricultural optimization through mathematics! 
        Embark on a journey as you delve into linear optimization, engage with real-world
        problem-solving scenarios, and harness the power of the OptiFarm Grapher tool. Feel free to explore 
        the website at your own pace and embark on a agricultural adventure!
      </div>
      <a class="btn btn-outline-secondary formula-label next zero-margin" href="{{ url_for('intro.intro1') }}">Introduction Situation</a>
      <a class="btn btn-outline-secondary formula-label next" href="{{ url_for('practice.practice') }}">Practice Problems</a>
      <a class="btn btn-outline-secondary formula-label next" href="{{ url_for('explore.explore') }}">OptiFarm Grapher Sandbox</a>
    </div>
    <div class="float-child">
      <div class="card img-card">
        <img src="../static/imgs/OptiFarmLogo.png" class="rounded-bottom rounded-top farm-img">
      </div>
    </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script> 
</div>

{% endblock %}